*{
    box-sizing: border-box;
}

h1, h2, h3, h4, ul, li, p{
    padding: 0;
    margin: 0;
    border: 0;
}

ul{
    list-style-image:url('img/Dot.png');
    margin-left: 20px;
}

li{
    padding-left: 20px;

}

header{
    position: relative;
    width: 100%;
    /* height: 100vh; */
}

body{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    font-family: "Montserrat","helvetica neue","arial";
}




header .navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.05);
}

header .navbar .left_section{
    float: left;
    margin-left: 10%;
    margin-top: 20px;

}
header .navbar .left_section .name_logo{
    text-decoration: none;
    font-weight:600;
    font-size: 24px;
    color: #282C37;
}

header .navbar .right_section{
    float: right;
    margin-right: 10%;
    margin-top: 23px;
}

header .navbar .right_section .link{
    text-decoration: none;
    padding-left: 100px;
    font-size: 20px;
    color: #282C37;
}

header .navbar .burger{
    display: none;
    float: right;
    margin-right: 10%;
    margin-top: 23px;
}

header .navbar .burger .items{
    width: 25px;
    height: 5px;
    margin: 3px;
    border-radius: 3px;
    background-color: #282C37;
}

/* header .navbar .tag_shadow{
  display: none;
  position: absolute;
  width: 100%;
  top: 70px;
  background-color: #fff;
  list-style-image: none;
  margin-left: 0;
}

header .navbar .tag_shadow .list{
  text-decoration: none;
  list-style: none;
  padding: 20px 0;
  text-align: center;
} */

header .bg{
    width: 80%;
    position: relative;
    top: 70px;
    margin:  36px auto 0;
}

header .bg .img{
    width: 100%;
}

header .bg .title{
    position: absolute;
    top: 20%;
    left: 14%;
    color: #282C37
}

header .bg .title .title_name{
    font-size: 60px;
    font-weight: 300;
}

header .bg .title .name{
    padding-top: 25px;
}

header .bg .title .name .sub_name{
    float: left;
    padding-right: 30px;
    font-size: 32px;
}

main .intro{
    text-align: center;
    width: 80%;
    color: #282C37;
    line-height: 32px;
    letter-spacing: 1px;
    margin: 230px auto 100px;
}

main .intro .who_i_am{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}

main .intro .personality{
    font-size: 20px;
}

main .hr_style{
    width: 80%;
    text-align: center;
    border: 0;
    height: 1px;
    margin-bottom: 100px;
    background: #D9E1E8;
}

main .skills{
    width: 75%;
    margin: 0 auto;
}

main .skills .title{
    font-size: 32px;
    padding-bottom: 50px;
    color: #52616A;
}

main .skills .content{
    overflow: hidden;
    margin-bottom: 200px;
}

main .skills .content .uiux_item{
    width: 25%;
    overflow: hidden;
    float: left;
    margin-right: 12.5%;
}

main .skills .content .filmmaking_item{
    width: 25%;
    overflow: hidden;
    float: left;
    margin-right: 12.5%;
}

main .skills .content .web_item{
    width: 25%;
    overflow: hidden;
    float: left;
}

main .skills .content .sub_title{
    font-size: 20px;
    font-weight:600;
    color: #9BAEC8;
}

main .skills .content .skill_hr{
    background: #D9E1E8;
    border: 0;
    height: 1px;
    width: 100%;
    margin: 20px 0;
    float: left;
}

main .skills .content .skill_softwares{
    float: left;
    font-size: 20px;

}

main .skills .content .list{
    padding-bottom: 20px;
}

main .skills .content .list .name{
    display: inline-block;
    line-height: 32px;
}

main .edex{
    width: 75%;
    margin: 0 auto 200px;
    overflow: hidden;
}

main .education{
    /* width: 37.5%;
    float: left;
    overflow: hidden;
    margin-left: 12.5%;
    margin-right: 12.5%; */
    width: 40%;
    float: left;
    margin-right: 20%;

}

main .education .title{
    font-size: 32px;
    padding-bottom: 50px;
    color: #52616A;
}

main .education .school{
    float: left;
}

/* main .education .school .list{
    font-size: 16px;
    color: #9BAEC8;
} */

/* main .education .school .school_list::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 20px;
    display: inline-block;
    background: #282C37;
} */
main .list .time{
    display: inline-block;
    font-size: 16px;
    color: #9BAEC8;
}

main .education .school .list .name{
    margin: 20px 0 50px 0px;
    font-size: 20px;
    color: #282C37;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1px;
}

main .experience{
    /* width: 37.5%;
    overflow: hidden; */
    width: 40%;
    float: left;
}

main .experience .title{
    font-size: 32px;
    padding-bottom: 50px;
    color: #52616A;
}

main .experience .jobs .list .job{
    margin: 20px 0 20px 0px;
    font-size: 20px;
    color: #282C37;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1px;
}

main .experience .jobs .list .company{
    margin-bottom: 50px;
    font-size: 20px;
    color: #282C37;
    line-height: 32px;
    letter-spacing: 1px;
}

main .theme{
    width: 100%;
    overflow: hidden;
}

main .theme .BJ_bg{
    background-image: url("img/BonJovi_BG@2x.png");
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    margin-bottom: 100px;
}


/* .theme .bg .bg_img{
    width: 100%;
    position: relative;
} */

main .theme .BJ_bg .title{
    width: 50%;
    color: #fff;
    padding-top: 10%;
    margin-left: 10%;
}

main .theme .BJ_bg .title .name{
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    margin-right: 20px;
}

main .theme .BJ_bg .title .type{
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
}

main .theme .BJ_bg .title .practice{
    display: block;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

main .theme .BJ_bg .title .practice::before{
    content: "──";
    margin-bottom: 5px;
    margin-right: 10px;
    /* background-color: #fff; */
}

main .theme .BJ_bg .title .description{
    font-size: 24px;
    font-weight: 400;
    margin-top: 50px;
    letter-spacing: 1px;
    line-height: 38px;
}

main .theme .Levis_bg{
    background-image: url("img/Levis_BG@2x.png");
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    margin-bottom: 100px;
}

main .theme .Levis_bg .title{
    width: 60%;
    color: #fff;
    padding-top: 10%;
    margin-left: 10%;
}

main .theme .Levis_bg .title .name{
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    margin-right: 20px;
    line-height: 58px;
}

main .theme .Levis_bg .title .type{
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
}

main .theme .Levis_bg .title .practice{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

main .theme .Levis_bg .title .practice::before{
    content: "──";
    margin-bottom: 5px;
    margin-right: 10px;
}

main .theme .Levis_bg .title .description{
  font-size: 24px;
  font-weight: 400;
  margin-top: 50px;
  letter-spacing: 1px;
  line-height: 38px;
}

main .theme .content{
    width: 80%;
    margin: 0 auto;
}

main .theme .content .content_item{
  margin-bottom: 200px;
}

main .theme .content .content_item .title{
    color: #52616A;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

main .theme .content .content_item .content_ul{
    width: fit-content;
    margin: 0 auto;
}

main .theme .content .content_item .content_ul .list{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 32px;
}

main .theme .content .content_item .sub_title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 32px;
}

main .theme .content .content_item .flow_img {
    width: 70%;
    margin: 0 auto;

}

main .theme .content .content_item .flow_img .img_inner{
    width: 100%;
}

main .theme .content .content_item .BJ_Wire_img {
    width: 80%;
    margin: 0 auto;

}

main .theme .content .content_item .BJ_Wire_img .img_inner{
    width: 100%;
}

main .theme .content .content_item .BJ_Mockup_img {
    width: 90%;
    margin: 0 auto;
}

main .theme .content .content_item .BJ_Mockup_img .img_inner{
    width: 100%;
}


main .theme .content .content_item .Levis_Wire_img {
    width: 80%;
    margin: 0 auto;
}

main .theme .content .content_item .Levis_Wire_img .img_inner{
    width: 100%;
}

main .theme .content .content_item .Levis_Mockup_img {
    width: 100%;
    margin: 0 auto;
}

main .theme .content .content_item .Levis_Mockup_img .img_inner{
    width: 100%;
}

footer .contact{
    width: 100%;
    background-color: #F5F5F5;
    text-align: center;
}

footer .contact .title{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0 30px;
}

footer .contact .logo{
    margin-right: 10px;
}

footer .contact .mail{
    margin-bottom: 20px;
}

footer .contact .mail .id{
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}

footer .contact .phone .number{
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 50px;
}

footer .contact .reserved{
    padding-bottom: 20px;
}

footer .contact .reserved .inner{
    font-size: 14px;
    font-weight: 300;
}

@media only screen and (max-width: 1424px){
    main .skills .content .skill_softwares{
        font-size: 18px;
    }
}

@media only screen and (max-width: 1328px){
    header .bg .title{
        top: 18%;
        left: 12%;
    }

    header .bg .title .title_name{
        font-size: 56px;
    }

    header .bg .title .name{
        padding-top: 16px;
    }

    header .bg .title .name .sub_name{
        padding-right: 30px;
        font-size: 30px;
    }
}


@media only screen and (max-width: 1270px){
    header .bg .title .title_name{
        font-size: 54px;
    }

    header .bg .title .name .sub_name{
        padding-right: 30px;
        font-size: 28px;
    }
}

@media only screen and (max-width: 1223px){
    header .bg .title .title_name{
        font-size: 52px;
    }

    header .bg .title .name .sub_name{
        padding-right: 30px;
        font-size: 26px;
    }

    main .intro{
        margin: 150px auto 100px;
    }

    main .intro .who_i_am{
        font-size: 22px;
    }

    main .intro .personality{
        font-size: 18px;
    }
}

@media only screen and (max-width: 1024px){
    header .navbar .right_section{
        display: none;
    }

    header .navbar .right_section.showing{
        display: block;
        position: absolute;
        background: #fff;
        width: 100%;
        top: 70px;
        margin: 0;
    }

    header .navbar .right_section .link{
        display: block;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    header .navbar .burger{
        display: block;
    }

    main .skills .content{
        margin-bottom: 150px;
    }

    main .theme .content .content_item{
        margin-bottom: 150px;
    }

    main .edex{
        margin: 0 auto 150px;
    }
}

@media only screen and (max-width: 960px){
    header .bg .title{
        top: 16%;
        left: 10%;
    }

    header .bg .title .title_name{
        font-size: 46px;
    }

    header .bg .title .name{
        padding-top: 14px;
    }
}

@media only screen and (max-width: 780px){
    header .bg .title .name{
        padding-top: 12px;
    }

    header .bg .title .title_name{
        font-size: 40px;
    }

    header .bg .title .name .sub_name{
        padding-right: 30px;
        font-size: 20px;
    }

    main .intro .who_i_am{
        font-size: 20px;
    }

    main .intro .personality{
        font-size: 16px;
    }

    main .intro .personality .text_br{
        display: none;
    }
}

@media only screen and (max-width: 650px){
    header .bg .title{
        top: 14%;
        left: 8%;
    }

    header .bg .title .title_name{
        font-size: 36px;
    }

    header .bg .title .name .sub_name{
        padding-right: 24px;
        font-size: 18px;
    }

    main .skills .content{
        margin-bottom: 100px;
    }

    main .skills .content .uiux_item{
        width: 100%;
        margin-bottom: 100px;
    }

    main .skills .content .filmmaking_item{
        width: 100%;
        margin-bottom: 100px;
    }

    main .skills .content .web_item{
        width: 100%;
        margin-bottom: 50px;
    }

    main .education{
        width: 100%;
        margin-right: 0;
        margin-bottom: 100px;
    }

    main .experience{
        width: 100%;
    }

    main .theme .BJ_bg{
        background-position: 55% 60%;
    }

    main .theme .BJ_bg .title .description{
        margin-top: 30px;
    }

    main .theme .content .content_item .flow_img{
        width: 80%;
    }

    main .theme .content .content_item .BJ_Wire_img{
        width: 90%;
    }

    main .theme .content .content_item .BJ_Mockup_img{
        width: 100%;
    }

    main .theme .Levis_bg .title .description{
        margin-top: 30px;
    }

    main .theme .content .content_item .Levis_Wire_img{
        width: 90%;
    }
}

@media only screen and (max-width: 580px){
    header .bg .title .title_name{
        font-size: 32px;
    }

    header .bg .title .name .sub_name{
        padding-right: 20px;
    }

    main .theme .content .content_item .Levis_Wire_img{
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    header .bg .title{
        top: 14%;
        left: 8%;
    }

    header .bg .title .title_name{
        font-size: 28px;
    }

    header .bg .title .name .sub_name{
        font-size: 16px;
    }

    main .theme .content .content_item .flow_img{
        width: 100%;
    }

    main .theme .content .content_item .BJ_Wire_img{
        width: 100%;
    }

    main .theme .BJ_bg{
        background-position: 58% 60%;
    }
}

@media only screen and (max-width: 450px){
    header .bg .title{
        top: 14%;
        left: 8%;
    }

    header .bg .title .title_name{
        font-size: 24px;
    }

    header .bg .title .name .sub_name{
        padding-right: 20px;
        font-size: 14px;
    }

    main .theme .BJ_bg{
        background-position: 55%;
    }
}
